html {
    overflow-y: scroll
}

:root {
    --bgcolor: white;
    --fontcolor: #000000;
    --linkcolor: rgb(255, 0, 0);
    --visitedcolor: #666666;
    --precolor: #fff;
    --prebgcolor: #000;
}

body {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 10px;
    font-size: 18px/2 "IBM Plex Mono", monospace;
    color: var(--fontcolor);
    background: var(--bgcolor)
}

a:link {
    color: var(--linkcolor)
}

a:visited {
    color: var(--visitedcolor)
}

a:active {
    color: var(--visitedcolor)
}

h1,
h2,
h3 {
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}

p>code {
    color: var(--precolor);
    background: var(--prebgcolor);
    padding: 2px;
}

code {
    color: var(--precolor);
    background: var(--prebgcolor);
    padding: 2px;
}

pre {
    color: var(--precolor);
    background: var(--prebgcolor);
    padding: 24px;
    overflow-x: auto
}

article {
    padding: 24px 0
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

figcaption {
    color: #888;
    font: 12px/1.5 monospace;
    text-align: center;
}

figure {
    margin: auto
}

img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
}

nav a {
    margin-right: 10%;
}

.site_title {
    text-align: center;
}